@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-size: 18px;
    color:#F78c56;
}
h1, h2, h3, h4, h5, h6, th, a:link, button 
{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
}
p, div, span, td, li,input
{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
body 
{
    background-color: #FAEBCE;
}
#menu
{
    background-color: #f6c500;
    padding:10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu>h1 
{
    color: white;
    font-size: 1.5rem;
}
#menu>ul 
{
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap:20px;
}
#menu>ul>li>a:link , #menu>ul>li>a:visited
{
    color:white;
}
#heading
{
    background-color: #F78c56;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding:10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#data
{
    width:90%;
    padding: 10px;
    margin: auto;
    border: 1px solid #F78c56;
    border-collapse: collapse;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#data td, #data th 
{
    border: 1px solid #F78c56;
    padding:10px;
}
#data th 
{
    background-color: #95680f;
    color:white;    
}
#heading>h2 
{
    color: white !important;
    font-size: 1.5rem;
}
#data>tbody>tr:nth-child(odd) 
{
    background-color: beige;
    color:black;
}
.btn 
{
    background-color: white;
    padding:5px;
    color:#F78c56;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    height: 20px;
}
.save 
{
    background-color: #F78c56;
    color:white;
    padding:5px
}
.clear {
    background-color:white;
    color: #F78c56;
    padding: 5px
}